:root {
  /* variables to store the colors we will use */
  --Gradient-dark-color-1: #243b55;
  --Gradient-dark-color-2: #141e30;
  --Gradient-light-color-1: #d8dfe5;
  --Primery-light-color-1: #ffffff;
  --secondry-light-color-1:#f0f0f0;
  --shadow-light-color: #787878;
  --error-color: #e91429;
}

/* sued the border-box proprety to get a better padding */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

/* giving the body and html a width and hight of 100% to take all the avaliable space while hidding any extra ovverflow and choose the Exo font */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: var(--Gradient-dark-color-2);
}

/* a class for the gradient effect we will use -which is 'Royal' gradient*/
.graindent {
  background: linear-gradient(
    to right,
    var(--Gradient-dark-color-1),
    var(--Gradient-dark-color-2)
  );
}
/* a second graindent2 just for the button because the prevouse wasnt visable  */
.graindent2 {
  background: linear-gradient(to right, #2b487d, var(--Gradient-dark-color-2));
}


nav {
  height: 3.5rem;
  background-color: var(--Primery-light-color-1);
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
}
nav .contant {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .contant .signinOptions {
  display: flex;
  width: min(15%, 120px);
  justify-content: space-between;
  white-space: nowrap;
}
nav .contant .signinOptions div{
  transition: transform .3s, text-shadow .3s;
}
nav .contant .signinOptions div:hover{
  transform: translateY(10%);
  text-shadow: -1px 1px 1px var(--shadow-light-color);
}

nav .contant .logo {
  cursor: default;
  font-size: 2rem;
  font-weight: 600;
  transition: text-shadow .3s ,transform .3s;
}

nav .contant .logo:hover{
  text-shadow: -2px 2px 2px var(--shadow-light-color);
}

nav .contant .logo span {
  color: var(--Gradient-dark-color-1) !important;
  font-weight: 800;
}

main {
  padding-top: 4rem;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .mainWindow {
  width: 80%;
  height: 90%;
  background-color: var(--Primery-light-color-1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: -5px 10px 10px -3px var(--shadow-light-color);
}
main .mainWindow .content {
  width: 95%;
  height: 95%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
main .mainWindow .content .image {
  background: url(../../resoruces/images/questionimg2.svg) no-repeat center /
    contain;
}

main .mainWindow .content .questions {
  background-color: var(--secondry-light-color-1);
  border-radius: 20px;
  display: grid;
  grid-template-rows: 10% 1fr 10%;
  padding: 1rem;
}

main .mainWindow .content .header {
  width: 90%;
  display: flex;
  justify-content: end;
  align-items: center;
}

main .mainWindow .content .header .countDown {
  margin-top: 1vmin;
  padding: 2vmin 8vmin;
  background-color: #ffffff;
  border-radius: 20px;
  font-size: min(3vmin, 32px);
  box-shadow: 0 0 10px var(--Gradient-light-color-1);
}

main .mainWindow .content .questions .main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

main .mainWindow .content .questions .main .question {
  width: 80%;
  height: 30%;
  border-radius: 20px;
  padding: min(2vmin, 1rem);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: min(3vmin , 1.5rem);
  font-weight: 600;
  color: var(--Primery-light-color-1);
  box-shadow: 0 0 10px var(--Gradient-light-color-1);
}

main .mainWindow .content .questions .main .options{
  width: 80%;
  height: 50%;
  display: grid;
  grid-template:repeat(2,1fr) / repeat(2,1fr);
  align-items: center;
  justify-items: center;
}

main .mainWindow .content .questions .main .options .option{
  width: 95%;
  height: 90%;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size:min(2.5vmin , 3rem);
  border-radius: 20px;
  background-color: #687ea5;
  color: var(--Primery-light-color-1);
  box-shadow: 0 0 10px var(--Gradient-light-color-1);
  transition: box-shadow .3s ,transform .3s ;
}
main .mainWindow .content .questions .main .options .option:hover{
  transform: translateY(5%);
  box-shadow: 0 0 10px var(--shadow-light-color);
}

main .mainWindow .content .questions .footer{
  width: 90%;
  display: flex;
  justify-content: end;
  align-items:first baseline;
}
 
main .mainWindow .content .questions .footer button{
  cursor: pointer;
  padding: 2.2vmin 4vmin;
  border-style: none;
  border-radius: 20px;
  font-weight: 600;
  color: var(--Primery-light-color-1);
  transition: transform 0.3s, box-shadow 0.3s;
}

main .mainWindow .content .questions .footer button:hover {
  transform: translate(10%);
  box-shadow: 0 0 10px var(--shadow-light-color);
}

.hidden{
  display: none !important;
}
.starting{
  font-size: min(15vmin, 75px);
}

@media only screen and (max-width: 900px) {
  nav .contant .signinOptions{
    width: 25%;
  }
  main{
    height:auto;
    position: relative;
    top: 20%;
  }

  main .mainWindow .content{
    display: flex;
    flex-direction: column;
    width: 100%;

  }
  
  main .mainWindow .content .image{
    height: 35vmin;
  }

  main .mainWindow .content .questions{
    height: 70%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 1rem;
  }
  main .mainWindow .content .questions .main .question{
    height: 100%;
  }
  main .mainWindow .content .questions .main .options{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: .4rem;
  }
  main .mainWindow .content .questions .main .options .option{
    height: 100%;
    padding-top: 2rem;  
    padding-bottom: 2rem;  
  }
}