:root {
    /* variables to store the colors we will use */
    --Gradient-dark-color-1: #243b55;
    --Gradient-dark-color-2: #141e30;
    --Gradient-light-color-1: #d8dfe5;
    --Primery-light-color-1: #ffffff;
    --shadow-light-color: #787878;
    --error-color: #e91429;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* a class for the gradient effect we will use -which is 'Royal' gradient*/
.graindent {
  background: linear-gradient(
    to right,
    var(--Gradient-dark-color-1),
    var(--Gradient-dark-color-2)
  );
}

 /* This is for the main part of the page */
.main {
  width: 80%;
  height: 80vh;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 3fr 7fr;
  background-color: var(--Primery-light-color-1);
  box-shadow: -5px 10px 10px -3px var(--shadow-light-color);
  margin: 10%;
  padding: 2%;
}

/* This is for the upper part of the page  */
.dashBoard {
    width: 100%;
    height: 80%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--Gradient-dark-color-1);
    box-shadow: -5px 10px 10px -3px var(--shadow-light-color);
    font-size: 1.5vw;
    padding: 1%;
}

.dashLeft {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: left;
  padding-left: 15%;
}

.dashRight {
  display: grid;
  align-items: center;
  justify-content: right;
  padding-right: 15%;
}

/* This were we display the question for Anaylsis */
.corQuestions {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--shadow-light-color);
    box-shadow: -5px 10px 10px -3px var(--shadow-light-color);
    overflow: auto;
  }


  @media only screen and (max-width: 920px) {
  .dashBoard {
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
    padding: 1%;
  }
}